.about{
  padding-top: 8.7rem;
  background-color: rgba($lighterGray, .5);
  max-width: 1437px;
  margin: 0 auto;

  @mixin atLarge{
    padding-top: 4.5rem;
  }

  &__image{
    margin-top: 2.5rem;
    width: 100%;
    margin-left: -18rem;
    transition: all .5s ease-out;

    &.slideRight{
      margin-left: 0;
    }
  }

  &__image--mb{
    margin-bottom: .6em;

    @mixin atLarge{
      margin-bottom: 0;
    }
  }

  &__text{
    transform: translateX(450px);
    transition: all .3s ease-out;

    &.scaleUp{
      transform: translateX(0);
    }
  }
}
