.btn--link{
  color: $mainRed;
  display: inline-block;
  margin-top: 0;
  padding: 13px 17px;
  border-radius: 10px;
  text-decoration: none;
  position: relative;
  border: 1px solid transparent;
  transition: all .3s ease-out;

  @mixin atLarge{
    margin-top: 28px;
  }

  &:after{
    content: '';
    width: 70%;
    display: block;
    position: absolute;
    padding-bottom: 1px;
    border-bottom: 1px solid $mainRed;
  }

  &:hover{
    border: 1px solid $mainRed;
  }
}

.btn--red{
  background-color: $mainRed;
  color: $mainYellow;
  text-decoration: none;
  padding: 15px 50px;
  display: inline-block;
  border-radius: 5px;
  border: 2px solid $mainRed;
  transition: all .5s linear;

  &:hover{
    background-color: #fff;
    color: $mainRed;
  }
}
