.menu{
  background-color: rgba($lighterGray, .5);
  max-width: 1437px;
  margin: 0 auto;

  &__content{
    padding: 52px 0 90px 0;
    position: relative;
  }

}

.menu-item{
  display: inline-block;
  border: 1px solid $lightGray;
  position: relative;
  width: 290px;

  &__image{

    & > img {
      width: 100%;
    }
  }

  &__text{
    background-color: $lightGray;
    padding: 25px 23px;
    position: relative;
  }

  &__title{
    font-size: 1.25rem;
    display: inline-block;
    margin: 0;
    padding-right: 72px;
  }

  &__price{
    padding: 7px 14px;
    margin: 0;
    /* display: inline-block; */
    position: absolute;
    right: 5px;
    top: 15px;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    color: $mainYellow;
    font-size: 1.5rem;
    background-color: $darkRed;
    border-radius: 7px;
  }

  &__currency{
    font-size: 1rem;
    font-family: proxima_nova_ltthin;
  }
}
