.primary-nav{
  text-align: center;

  @mixin atLarge{
    padding-right: 6.25rem;
    display: block;
  }

  @mixin clearfix;

  &--pull-right{
    display: inline-block;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    @mixin atLarge{
      float: right;
    }
  }

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    display: inline-block;
    padding: 10px 10px;
    margin-top: 15px;
    list-style: none;
    transition: all .8s ease-out;
    border-bottom: 1px solid transparent;

    @mixin atLarge{
      float: left;
      padding: 10px 15px;
      margin-right: 20px;
    }

    &.active{
      border-bottom: 1px solid $mainYellow;
    }

    &.active a{
      color: $mainYellow;
    }

    &:hover{
      border-bottom: 1px solid transparent;
    }
  }

  a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    transition: all .3s ease-in-out;

    &:hover{
      font-weight: bold;
      color: $mainYellow;
    }
  }

}
