.row{

  &--tp-large{
    padding-top: 4rem;
  }

  &--bp-large{
    padding-bottom: 2rem;

    @mixin atLarge{
      padding-bottom: 6rem;
    }
  }

  &__sm-6{
    float: left;
    width: 50%;

    @mixin atMedium{
      float: none;
      width: auto;
    }
  }

  @mixin clearfix;

  @mixin atMedium{
    &__sm-6{
      float: left;
      width: 50%;
    }
  }

  @mixin atLarge{
    &__lg-3{
      width: 25%;
      float: left;
    }

    &__lg-6{
      width: 50%;
      float: left;
    }
  }
}
