.row{

  &--tp-medium{
    padding-top: 1rem;
  }

  &--tp-large{
    padding-top: 4rem;
  }

  &--tp-larger{
    padding-top: 2rem;

    @mixin atLarge{
      padding-top: 5.625rem;
    }
  }

  &--bp-large{
    padding-bottom: 2rem;

    @mixin atLarge{
      padding-bottom: 6rem;
    }
  }

  /* Gutters */
  &--gutters-small {
    margin-right: -24px;;
  }

  &--gutters-small > div{
    padding-right: 24px;
  }

  &--gutters {
    margin-right: -52px;
  }

  &--gutters > div{
    padding-right: 52px;
  }

  &--gutters-large{
    margin-right: -85px;
  }

  &--gutters-large > div{
    padding-right: 85px;
  }

  &__sm-6{
    float: left;
    width: 50%;

    @mixin atMedium{
      float: none;
      width: auto;
    }
  }

  @mixin clearfix;

  @mixin atMedium{
    &__sm-6{
      float: left;
      width: 50%;
    }

    &__md-6{
      float: left;
      width: 50%;
    }
  }

  @mixin atLarge{
    &__lg-3{
      width: 25%;
      float: left;
    }

    &__lg-4{
      width: 33.33%;
      float: left;
    }

    &__lg-4-larger{
      width: 37%;
    }

    &__lg-6{
      width: 50%;
      float: left;
    }

    &__lg-8{
      float: left;
      width: 66.66%;
    }

    &__lg-8-smaller{
      width: 63%;
    }
  }
}
