.section-title{
  font-size:  1.69rem;
  font-weight: 300;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: .5rem;
  color: $mainRed;

  @mixin atLarge{
    font-size:  2rem;
  }

  &--uppercase{
    text-transform: uppercase;
  }

  &--white{
    color: #fff;
  }

  &__subtitle{
    font-size: 1.11rem;
    font-weight: 300;
    text-align: center;
    padding: 0;
    margin: 0;

    @mixin atLarge{
      font-size: 1.7rem;
    }
  }
}
