.services{
  padding-top: 8.7rem;

  @mixin atLarge{
    padding-top: 4.5rem;
  }
}

.services-item{
  background-color: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
  border-top: 4px solid $mainYellow;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 3rem;
  transform: scale(1.2);
  opacity: 0;
  transition: all .5s ease-out;

  &.fadeIn{
    opacity: 1;
    transform: scale(1);
  }

  &--last{
    margin-bottom: 0;
  }

  @mixin atLarge{
    margin-bottom: 0;
  }

  &--adjust-top{

    @mixin atLarge{
      margin-top: -1.625rem;
    }
  }

  &__header{
    text-align: center;
    background: url("../../assets/images/services-header-bg.jpg") top left no-repeat;
    background-size: cover;
    height: 11rem;
    position: relative;

    @mixin atMedium{
      height: 8rem;
    }

    @mixin atLarge{
      height: 15rem;
    }
  }

  &__title{
    margin: 0;
    padding: 27px;
    padding-top: 3rem;
    color: $mainYellow;
    font-weight: 400;

    & .fa{
      position: relative;
      top: 9px;
      padding-right: 2px;
    }
  }

  &__body{
    background-color: #fff;
    padding: 0 27px 16px 27px;

  }

  &__call{
    margin: 0;
    margin-top: -1px;
    padding-top: 1rem;
    font-size: 1rem;
    color: $mainRed;
    text-align: center;
    letter-spacing: .7px;
    font-family: "proxima_nova_ltthin", sans-serif;
  }

  &__number{
    text-align: center;
    color: $mainRed;
    font-size: 1.25rem;
    border-bottom: 1px solid $lightGray;
    width: 80%;
    margin: 0 auto;
    padding-bottom: .5em;
  }

  &__text{
    font-size: 1.125rem;
    font-family: "proxima_nova_ltthin", sans-serif;
  }

  &__divider{
    background-color: $grayNews;
    padding: 10px 0;
    margin: 0;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    font-size: 1rem;
  }

  &__footer{
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    ul{
      margin: 0;
      padding: 1.375rem 1.6875rem;
    }

    li{
      list-style: none;
      font-size: 1.125rem;
      font-family: "proxima_nova_ltthin", sans-serif;
      padding-left: 28px;
      position: relative;

      & .fa{
        position: absolute;
        left: 0;
        color: $mainRed;
      }
    }
  }
}
