.site-header{
  position: absolute;
  width: 100%;
  z-index: 5;
  padding: 6px 0;
  transition: all .3s ease-out;

  @mixin atLarge{
    display: block;
    position: relative;
    background-color: rgba($mainRed, .9);
    width: 100%;
    height: 84px;
  }

  &--is-expanded{
    background-color: rgba($mainRed, .9);
  }

  &__logo{
    display: none;

    & a {
      color: #fff;
      text-decoration: none;
    }

    @mixin atLarge{
      display: inline-block;
      position: absolute;
      top: 0;
      padding: 4px 15px;
      margin-left: 6.25rem;
    }
  }

  &__mobile-logo{
    background-color: #fff;
    border-radius: 5px;
    color: $mainRed;
    display: inline-block;
    margin-left: 18px;
    padding: 1.2rem .7rem;

    a{
      text-decoration: none;
      color: $mainRed;
    }

    @mixin atLarge{
      display: none;
    }

    &-title{
      width: 160px;
      font-family: 'Varela Round', sans-serif;
      text-transform: uppercase;
      border-left: 4px solid $mainRed;
      margin: 0;
      line-height: .9;
      padding-left: .5rem;
    }
  }

  &__menu-content{
    /* display: none; */
    opacity: 0;
    transition: all .3s ease-out;
    visibility: hidden;
    transform: scale(1.2);

    @mixin atLarge{
      /* display: block; */
      opacity: 1;
      visibility: visible;
      transform: scale(1);
    }

    &--is-visible{
      /* display: block; */
      opacity: 1;
      visibility: visible;
      transform: scale(1);
    }
  }

  &__menu-icon{
    position: absolute;
    right: 18px;
    top: 25px;
    content: "";
    /* background-color: $mainRed; */
    height: 35px;
    width: 40px;
    transition: all .3s ease-out;

    @mixin atLarge{
      display: none;
    }

    &::before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 4px;
      width: 100%;
      background-color: $mainRed;
      transition: all .3s ease-out;
      transform-origin: 0 50%;
    }

    &-middle{
      position: absolute;
      top: 15px;
      left: 0;
      background-color: $mainRed;
      height: 4px;
      width: 100%;
      transition: all .3s ease-out;
      transform-origin: 0 50%;
    }

    &::after{
      content: "";
      background-color: $mainRed;
      position: absolute;
      bottom: 0;
      height: 4px;
      width: 100%;
      transition: all .3s ease-out;
      transform-origin: 0 50%;
    }
  }

  &__menu-icon--open-x{
    background-color: transparent;

    &::before{
      background-color: #fff;
      transform: rotate(42deg) scaleX(1.2);
    }

    .site-header__menu-icon-middle{
      background-color: #fff;
      transform: scaleX(0);
    }

    &::after{
      background-color: #fff;
      transform: rotate(-43deg) translate(0%, 30%) scaleX(1.2);
    }
  }

  &__image{
    border-radius: 50%;
    height: 75px;
    width: 75px;
    background: url("../../assets/images/hb_logo.jpg") no-repeat left center;
    background-size: cover;
    background-attachment: scroll;
    text-indent: -9999px;
  }
}
